Source: solarus
Section: games
Priority: extra
Maintainer: Nathan Moore <natedevv@gmail.com>
Build-Depends: debhelper (>= 9), cmake, libsdl2-dev (>=2.0.1), libsdl2-image-dev, libsdl2-ttf-dev (>= 2.0.12), libluajit-5.1-dev, libphysfs-dev, libopenal-dev, libmodplug-dev (>= 0.8.8.4), libvorbis-dev, qtbase5-dev (>= 5.2), qttools5-dev (>= 5.2), qttools5-dev-tools (>=5.2), libsndio-dev
Standards-Version: 3.9.8
Homepage: http://www.solarus-games.org/
#Vcs-Git: git@github.com:christopho/solarus.git
#Vcs-Browser: https://github.com/christopho/solarus

Package: solarus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsolarus (= ${source:Version})
Suggests: zsdx, zsxd, zelda-roth-se, solarus-quest-editor
Description: C++ ARPG Engine.
 Used to create Zelda-like games and many others!
 Games are written using lua, check out the suggested
 packages for example games.
Replaces: solarus (<< ${source:Version})
 
Package: libsolarus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ ARPG engine.
 Used to create Zelda-like games and many others!
 Games are written using lua, check out the suggested
 packages for example games.
 .
 This package contains the shared library files for Solarus
Replaces: libsolarus (<< ${source:Version})

Package: libsolarus-dev
Section: libdevel
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ ARPG engine.
 Used to create Zelda-like games and many others!
 Games are written using lua, check out the suggested
 packages for example games.
 .
 This package contains the shared library header files for Solarus
Replaces: libsolarus-dev (<< ${source:Version})
