Package: libsolarus-dev
Source: solarus
Version: 1.5.0-5xenial
Architecture: all
Maintainer: Nathan Moore <natedevv@gmail.com>
Installed-Size: 892
Section: libdevel
Priority: extra
Homepage: http://www.solarus-games.org/
Description: C++ ARPG engine.
 Used to create Zelda-like games and many others!
 Games are written using lua, check out the suggested
 packages for example games.
 .
 This package contains the shared library header files for Solarus
